# conda update -all
# pip freeze
numpy==1.20.3
# pandas==0.25.3
matplotlib==3.5.1
# deap==1.3.0
# scipy==1.3.1
#
#
# et dans Jupyter pour vérifier
# from platform import python_version
# import matplotlib
# print(python_version())
# print(matplotlib.__version__)
